<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar usuario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Eliminar usuario</h1>
    <p>¿Estás seguro de que deseas eliminar al usuario "{{ user[2] }}"?</p>
    <form method="post" action="{{ url_for('delete_user', user_id=user[0]) }}">
        <input type="submit" value="Sí, eliminar usuario">
    </form>
    <a href="{{ url_for('read_users') }}">Cancelar</a>
</body>
</html>
